@media (max-width: 780px) {
	#sale {
		min-height: auto;
	}
	#column1 {
		padding: 10px 10px;
	}
	#product-detail-view {
		grid-template-columns: 1fr;
		min-height: auto;
		height: 25vh;
	}
	#product-detail-main-box {
		padding: 0;

	}
	#products-container {
		grid-template-columns: 1fr 1fr;
	}
	#product-detail-add-photos-container {
		display: none;
	}
	#product-detail-desc {
		margin: 0;
	}
	#product-detail-main-photo {

	}
	.cart-thumb-img {
		width: 80px;
		max-height: auto;
		max-width: auto;
	}
	#add-cart-btn {
		margin: 12px;
		width: 30%;
	}
}