html {
	/*background: linear-gradient(45deg, gray, white);*/
}

body {
	/*max-width: 100%;*/
	width: auto;
	min-width: 650px;
	height: 100%;
	display: grid;
	/* Applies CSS grid to two main columns of page */
	grid-template-columns: 7fr 3fr;
	border-radius: 0;
	background: white;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0px 20px 30px 20px;
	display: flex;
	justify-content: space-between;
}

h1, h2, h3, p, input, div {
	font-family: 'Poppins', sans-serif;
}


div, input {
	border-radius: 10px;
	border: none;
}

button, span {
	border-radius: 40px;
	border: none;
}

button {
	height: 40px;
	color: white;
	font-weight: bold;
	background: blue;
}

div {
	padding: 15px;
	margin: 20px;
	box-sizing: border-box;
}

button:focus, button:active {
	outline: none;
}

button:hover {
	transform: scale(1.05);
	transition: 0.2s;
	cursor: pointer;
}

/* DIVs only used for toggling groups of elements with script */
#gallery-mode, #product-detail-mode {
	padding: 0;
	margin: 0;
}

#column1, #column2 {
	margin: 0;
	border-radius: 0;
	min-height: 100vh;
}

#column1 {
	border-right: solid 1px gray;
	padding-left: 20px;
	padding-right: 20px;
}


#hamburger-menu-container {
	flex: 30%;
	padding: 1px 0 0 2px;
	margin: 0;
}

#hamburger-menu-container:hover {
	cursor: pointer;
}

.hamburger {
	width: 35px;
  	height: 5px;
  	background-color: black;
  	margin: 6px 0;
  	padding: 0;
}

#searchbox {
	flex: 70%;
	padding: 10px 20px;
	height: 40px;
	background: coral;
	color: white;
}

/*colors search box placeholder text*/

#searchbox::-webkit-input-placeholder {
	color: white;
}
#searchbox::-moz-placeholder {
	color: white;
}
#searchbox:-ms-input-placeholder {
	color: white;
}
#searchbox:focus {
	outline: none;
}


#sale {
	min-height: 30vh;
	background: lightblue;
	text-align: center;
	color: blue;
	font-family: arial;
	font-size: 1.2em;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#sale h2 {
	margin: 0px 20px;
}

#sale p {
	margin-top: 5px;
	margin-bottom: 15px;
}

#sale-btn {
	width: 25%;
}

#products-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-rows: 1fr 1fr;*/
	grid-row-gap: 5px;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}

/* DIV element for each product preview */
.product-box {
	background: white;
	position: relative;
	min-height: 25vh;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 0.8em;
}

.product-box:hover {
	filter: drop-shadow(0 0 0.6rem crimson);
	cursor: pointer;
}

.product-box p {
	margin: 0;
}

.product-img {
	border-radius: 10px;
	max-width: 100%;
	max-height: 150px;
}

.item-title {
	max-height: 20%;
	margin: 0;
	padding: 2px 6px;
	text-align: center;
	z-index: 3;
}

/* icon showing which items currently on sale */
.discount {
	position: absolute;
	margin: 0;
	padding: 2px 6px;
	right: 15%;
	top: 5%;
	font-size: 0.8em;
	color: white;
	background: blue;
	z-index: 3;
}

#column2 {
	position: relative;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#my-cart-top {
	/*height: 10%;*/
	flex-basis: 10%;
	margin: 0;
	padding: 0;
	text-align: center;
}

#my-cart-top h2 {
	padding: 0;
	margin: 0;
}


#my-cart-empty {
	display: flex;
	flex-basis: 70%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	text-align: center;
}

#sad-cart-img {
	max-width: 100%;
}

/* DIV containing items added to cart */
#cart-contents {
	flex-basis: 70%;
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	overflow-y: auto;
	display: none;
}

.cart-item {
	background: white;
	height: 150px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}

#check-out {
	background: white;
	margin-bottom: 45px;
	padding: 0;
	width: 90%;
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	border-radius: 0;
	border-top: solid 1px gray;
}

#total {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

#check-out-btn {
	width: 50%;
	margin: auto;
	margin-bottom: 0;
}

#product-detail-gallery {
	width: 100%;
	height: 60vh;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
	/*display: none;*/
}

#product-detail-desc {
	margin-top: 0;
	/*display: none;*/
}

#product-detail-main-box {
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#product-detail-add-photos-container {
	margin-left: 0;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 10px;
	padding: 0;
}

.product-detail-add-photo {
	flex: 33%; 
	background: lightblue;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	opacity: 0.7;
}

#product-detail-main-photo {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}

#product-detail-title, #product-price {
	font-weight: bold;
	font-size: 1.2em;
}

#return {
	text-decoration: underline;
	color: blue;
}

#return:hover {
	cursor: pointer;
}

#add-cart-btn {
	float: right;
	margin: 25px;
	width: 20%;
}

.cart-item {
	position: relative;
	padding: 0;
	
}

.cart-item * {
	margin: 0; 
	padding: 0;
}

.cart-thumb {
	float: left;
}

.cart-item-info {
  padding-bottom: 10%;
}

.cart-quantity-btn-container {
	position: absolute;
	bottom: 0%;
	right: 5%;
}

.cart-quantity-btn-container span {
	color: black;
	font-weight: normal;
}

.cart-quantity-btn-container button {
	background: white;
	padding: 0;
	line-height: 1.7;
	font-size: 16px;
	min-width: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-quantity-btn-container, .cart-quantity-btn-container button:hover {
	transform: none;
}

.cart-thumb-img {
	width: 110px;
}

.quantity-btn {
	width: 30%;
	margin: 0;
	padding: 0;
	height: auto;
	color: black;
	font-weight: bold;
	background: gray;
}

#detail-price-container {
	margin: 0;
	padding: 0;
}

#detail-price-container p {
	display: inline;
}

.strike {
	color: red;
	text-decoration: line-through;
}


@media (max-width: 768px) {
	#sale {
		min-height: auto;
	}
	#column1 {
		padding: 10px 10px;
	}
	#product-detail-view {
		grid-template-columns: 1fr;
		min-height: auto;
		height: 25vh;
	}
	#product-detail-main-box {
		padding: 0;
	}
	#products-container {
		grid-template-columns: 1fr 1fr;
	}
	#product-detail-add-photos-container {
		display: none;
	}
	#product-detail-desc {
		margin: 0;
	}
	.cart-thumb-img {
		width: 80px;
		max-height: auto;
		max-width: auto;
	}
	#add-cart-btn {
		margin: 12px;
		width: 30%;
	}
}